.pic {
  display: block;
  width: 100%;
  position: relative;
  flex: 1 0 42rem;
  color: #fff;
  cursor: zoom-in;
  object-fit: cover;
  height: 300px;
  margin: 0;
	padding: 0;
	transition: transform .2s;
}

.pic:hover {
	transform: scale(1.5); 
	z-index: 10;
}

@media (max-width: 1024px) {
	.pic:hover {
		transform: none;
		/* transform: translate(50%, 50%) scale(1.5); */
	}
}

