.img-card {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  width: 600px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.calendar{
  margin: 0 auto;
}

.video {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}
@media (max-width: 600px) {
  .card{
    width: 100%;
  }
}
